* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}

form {
    outline: none;
}

.form {
    width: 50%;
    position: relative;
    height: 60px;
}

.form input {
    width: 100%;
    height: 100%;
    color: black;
    padding-top: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 32px;
}

.form label {
    position: absolute;
    font-size: 32px;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid whitesmoke;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 18px;
    color: rgb(39, 39, 39);
}